body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1800px;
  /* color:saddlebrown; */
  background-color:lightblue;
  background-image:url("./bg3.jpg")
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homeSearch {
  margin-left: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
  margin: 0px 0px;
}

header a,
header  button {
  font-size: 1rem;
  display: inline-block;
  background-color:none;
  border: 1px  black;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
  cursor: pointer;

}


main {
  margin: 0.5rem;
  display: flex;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

form {
  background-color: rgb(180, 206, 206);
  border: 1px solid rgb(180, 206, 206);
  display: inline-flex;
  flex-direction: column;
  width: 400px;
  margin: 20 auto;
  padding:  1rem 1rem;
}

#login {
  background-color: none;
  display: inline-flex;
  flex-direction: column;
  width: 400px;
  margin: 20 auto;
  padding:  1rem 1rem;
}

form input {
  margin: 0.25rem 0;
}

form input[type="submit"] {
  width: 40%;
}

form img {
  width: 150px;
}


.sidebar {
  min-height: 100vh;
  min-width: 20em;
  width: 25%;
  background: inherit;
  padding: 0em;
}

.sidebar > button {
  width: 10%;
}

.hotel-container {
  max-width: 100rem;
  /* margin: auto; */
  margin-left:  5rem;
}
.hotel-container > div {
  border-bottom: solid 2px black;
  padding-bottom: 1em;
  min-width: 20em;
}
.sort-form {
  padding: 1em;
  display: flex;
  flex-direction: column;
}


.box {
  border: 2px solid var(--dark-turquoise);
  padding: 1.75rem;
}

.hotel-detail {
  display: flex;
   width: 180;
  margin-right: 12rem;
  margin-bottom: 15px;
  position: relative;
  max-width: 90vw;
  
}

.hotel-detail .details {
  flex: 1;
  margin-left: 3rem;
}


.details p {
  margin: 0.5rem 0;
}



.reservation-image img {
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align:center;
}

.bg_image{ 
  background-image: url('./Background.jpg'); 
  /* display: inline-flexbox; */
  background-size: inherit;
  height: 100vh;
  color: #a4bb3b;
}
.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.city-tour-btn {
  color: #fff;    
  width: initial;
  background-color: #e03997;
}

.tour-container {
  max-width: 650em;
  /* margin: auto; */
  margin-left:  0rem;
}

.tour-container > div {
  margin-left: 0px;
  border-bottom: solid 2px grey;
  padding-bottom: 1em;
  min-width: 20em;
}

.hotel-reservation {
  margin-left: 0px;
  border-bottom: solid 2px grey;
  padding-bottom: 1em;
  min-width: 20em;
}


.tour-detail {
  display: flex;
   width: 180;
  margin-right: 12rem;
  margin-bottom: 15px;
  position: relative;
  max-width: 90vw;
  
}

.tour-detail .details {
  flex: 1;
  margin-left: 3rem;
}

.tour-image img {
  width: 100%;
  max-width: 400px;
}

main.parent {
  margin: 0.5rem;
  display: block;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 5 / 6; }

  .App {
    color: var(--color);
    background-color: var(--background);
    min-height: 100vh;
  }
  
  .App.light {
    --color: var(--black);
    /* --background: var(--white); */
    --background: #b6c9c8;
    --primary: var(--mid-turquoise);
  }